
<div class="wrapper wrapper-content animated fadeInRight bg-001 ">
    <div class="row">
        <div class="col-lg-12 c-white">
            <div class="text-center m-t-lg">
                <h1>
                    វីដេអូសំរាប់ថ្ងៃនេះ
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
                <span class="divider center"></span>
            </div>

            <div class="container">
                <video-box></video-box>
            </div>
        </div>
    </div>
</div>

<!--recently news-->
<div ng-include="'views/home/news.html'">fsdfsdds</div>