
<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="container">
        <div class="text-center m-t-lg">
            <h1>ពត៌មានថ្មីៗ</h1>
            <small>{{main.descriptionText}}</small>
            <span class="divider center"></span>
        </div>
        <div class="row">
            <article class="col-md-6 col-lg-6 pos-relative news special">
                <img class="img-responsive pos-relative img"  ng-src="img/video/hG6KvMG1k4c.png" alt="" />
                <h3 class="title c-white bg-tr-black p-10">Apple reportedly pull legacy Macbook Pro, making space for new models</h3>
                <div class="brief">
                    Apple only sells one laptop with an optical disc drive and a spinning hard drive -- and that laptop may not be long for this world. The 13-inch unibody MacBook Pro, originally introduced in 2008 and unchanged since 2012, is reportedly being pulled from Apple Store shelves.
                </div>
            </article>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a ui-sref="profile" class="pull-left">
                                    <img alt="image" class="img-container" src="img/gallery/2s.jpg" />
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">5m ago</small>
                                    <strong>Monica Smith</strong> posted a new blog. <br>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                                </div>
                            </div>

                            <div class="feed-element">
                                <a ui-sref="profile" class="pull-left">
                                    <img alt="image" class="img-container" src="img/gallery/3s.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <h3></h3>
                                    <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                    <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a ui-sref="profile" class="pull-left">
                                    <img alt="image" class="img-container" src="img/gallery/4s.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 8:30am</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/8.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/7.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/8.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/9.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/12.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="ibox">
                    <div class="ibox-content product-box bg-tr-white no-borders">
                        <div class="">
                            <img ng-src="img/gallery/11.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                China
                            </span>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
