<div class="col-lg-12">
    <h3>Recently Movie</h3>
    <span class="divider"></span>
</div>
<div class="col-md-3">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="">
                <img ng-src="img/video/vX2BABNeXXc.png" class="img-responsive" alt="">
            </div>
            <div class="product-desc">
                                <span class="product-price">
                                    Khmer
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                    Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                    <a href="#movie/play/1212" class="btn btn-xs btn-outline btn-danger">Play <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="">
                <img ng-src="img/video/hG6KvMG1k4c.png" class="img-responsive" alt="">
            </div>
            <div class="product-desc">
                <span class="product-price">
                    China
                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>

                <div class="small m-t-xs">
                    Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                    <a href="#" class="btn btn-xs btn-outline btn-danger">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="product-imitation">
                [ INFO ]
            </div>
            <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                    Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                    <a href="#" class="btn btn-xs btn-outline btn-danger">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="ibox">
        <div class="ibox-content product-box">

            <div class="product-imitation">
                [ INFO ]
            </div>
            <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                    Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                    <a href="#" class="btn btn-xs btn-outline btn-danger">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="col-lg-12">
        <h3>Khmer Movies</h3>
        <span class="divider success"></span>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="col-lg-12">
        <h3>Chinese Movies</h3>
        <span class="divider danger"></span>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-success">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="col-lg-12">
        <h3>Thai Movies</h3>
        <span class="divider warning"></span>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-warning">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-warning">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-warning">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">

                <div class="product-imitation">
                    [ INFO ]
                </div>
                <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                    <small class="text-muted">Category</small>
                    <a href="#" class="product-name"> Product</a>



                    <div class="small m-t-xs">
                        Many desktop publishing packages and web page editors now.
                    </div>
                    <div class="m-t text-righ">

                        <a href="#" class="btn btn-xs btn-outline btn-warning">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

